.titleComics {
  display: flex;
  border-bottom: 3px solid #ee171f;
  justify-content: center;
  padding: 40px;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}

.filterWrap {
  display: flex;
  /* border: blue 3px solid; */
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.goToPageWrap {
  margin-right: 20px;
}

.finder {
  border: none;
  width: 300px;
  background-color: transparent;
  border-bottom: white solid 1px;
  height: 30px;
  color: white;
}

.finder:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
